*,
*:before,
*:after {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}







h1 {
    color: #9db0d1;
    font-size: 60px;
}

.wrap {
    width: 1440px;
    height: 2148px;
    background: #E5E5E5;
    margin: 0 auto;
}

.header {

    text-align: center;
    font-size: 60px;
    color: #9DB0D1;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 100px 0px 50px 0px;
}

.info{
    background: #E5E5E5;

}
.info_description {
    margin: 0px 208px 50px 208px;
    text-align: center;
}

.info_description > p {
    font-size: 20px;
    font-family: Verdana;
}

button {
    background: #EBAC87;
    padding: 24px 50px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: 'Arapey', serif;
    font-size: 30px;
    cursor: grabbing;
}

.btn {
    margin: 0 566px 0 607px;
}

.items {
    display: flex;
    justify-content: space-around;

}

.list {
    margin-top: 50px;
}

li {
    font-family: Verdana;
    font-size: 20px;

}

.round {
    width: 60px;
    height: 60px;
    background: #9DB0D1;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 18px;
    display: inline-block;
}

button:hover {
    box-shadow: 11px 12px 15px 1px rgba(8, 78, 255, 0.82);
}

.caption {
    background: url(../img/cloud.png) repeat-x top / auto 200px,
    linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%);
    padding: 250px 120px 100px;
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}


.pictures {
    display: flex;
    column-gap: 75px;
    box-sizing: border-box;
    padding: 0 120px;
    background: #87C6EB;
}

.pic {
    width: 350px;
    height: 560px;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}


.num {
    width: 60px;
    height: 60px;
    background: rgba(235, 172, 135, 0.4);
    border-radius: 50%;
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
    color: #FFFFFF;


}

.one {
    background: rgba(235, 172, 135, 0.4);;
}

.two {
    background: rgba(235, 172, 135, 0.6);
}

.three {
    background: #EBAC87;
}

.image > img {
    width: 310px;
    height: 310px;
    background: #EBAC87;

}

.image {
    width: 310px;
    height: 310px;
    box-sizing: border-box;
    margin: 10px 0px 0px 0px;
}

.txt {
    width: 260px;
    height: 120px;
    color: #000000;
    font-family: Verdana;
    text-align: left;
    font-size: 20px;
    box-sizing: border-box;
    margin: 20px 50px 0px 0px;
}

.bold {
    font-weight: bold;
}

.details {
    background: #87C6EB;
    display: flex;
    padding: 35px 120px;
}

.mount > img {
    width: 600px;
    height: 475px;
}

.title {
    height: 132px;
    width: 600px;
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Arapey';
    margin-top: 40px;
}

.data {

    height: 73px;
    width: 570px;
    font-size: 20px;
    font-family: Verdana;
    color: #000000;
    margin: 50px 0px;
    text-align: inherit;
}

.white_btn {
    width: 220px;
    height: 80px;
    background: #FFFFFF;
    color: #EBAC87;
}

.underl {
    text-decoration: underline;
}

.right {
    position: relative;
}

.mark {
    background: #EBAC87;
    font-size: 60px;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 50px;
}

.footer {
    padding: 50px 120px;
    display: flex;
    background: #E5E5E5;
    justify-content: space-between;
}

.links {
    display: flex;
    column-gap: 36px;
    margin-top: 50px;
}